main {
    flex: 1;
}

h1 {
    margin-top: 0;
    text-align: center;
    color: #004279;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.grade-jogos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

#contadorConvite {
    display: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    margin-left: 5px;

}

.grade1,
.grade2 {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    background: #f0f8ff;
    border-radius: 10px;
    padding: 0.7rem;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: #004279;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

.card img {
    width: 100%;
    height: 170px;
    object-fit:contain;
    border-radius: 6px;
    margin-bottom: 0.8rem;
}

.card span {
    font-weight: 600;
    font-size: 1rem;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {

    .grade1,
    .grade2 {
        justify-content: center;
    }

    .card {
        width: 180px;
    }

    h1 {
        font-size: 2.2rem;
    }
}

@media (max-width: 768px) {

    .grade1,
    .grade2 {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .card {
        width: 90%;
        max-width: 300px;
    }

    h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }

    h1 {
        font-size: 1.8rem;
        margin-top: 2.5rem;
    }
}

@media (prefers-color-scheme: dark) {
    .card {
        background-color: #1f2937;
    }

    .card>span {
        color: #93c5fd;
    }
}