@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Nunito:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background: linear-gradient(135deg, #ffffff, #ffffff);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: black;
  margin-top: 20px;
}

#game-container {
  background: white;
  color: black;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 90%;
  max-width: 400px;
  display: none;
  margin-top: 20px;
}

#facil {
  color: rgb(30, 221, 30);
}

#medio {
  color: #FFA500;
}

#dificil {
  color: rgb(235, 0, 0);
}

#word {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  height: 3rem;
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

button,
.top-bar button,
.top-bar select {
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  background-color: #e5e7eb;
  color: #111827;
  transition: all 0.2s ease;
  font-weight: bolder;

}

button:hover,
.top-bar button:hover,
.top-bar select:hover {
  transform: scale(1.05);
  background-color: #2b91eb;
  font-weight: bolder;
}

#score {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #004279;
  font-weight: bold;
}

#timer {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #137fd9;
}

.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}

#restart {
  margin-top: 1rem;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 8px;
  background-color: #137fd9;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  display: none;
}

#restart:hover {
  background-color: #0b5fa8;
}

#popupInstrucoes,
#popupHTPB {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#popupInstrucoes .conteudo,
#popupHTPB .conteudo {
  background: white;
  border-radius: 15px;
  padding: 25px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  color: #111827;
   max-height: 80vh;
  overflow-y: auto;
}

 
 

#popupInstrucoes .conteudo h2,
#popupHTPB .conteudo h2 {
  margin-bottom: 1rem;
}

#popupInstrucoes .conteudo p,
#popupHTPB .conteudo p {
  line-height: 2.7;
}

#popupInstrucoes button,
#popupHTPB button {
  background: #137fd9;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin-top: 15px;
  cursor: pointer;
  font-weight: bold;
}

#popupInstrucoes button:hover,
#popupHTPB button:hover {
  background: #0d5fa7;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111827;
    color: #e6edf3;
  }

  h1 {
    color: #e6edf3;
  }

  #game-container {
    background: #0f1724;
    color: #e6edf3;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  }

  #word {
    color: #e6edf3;
  }

  .top-bar button,
  .top-bar select {
    background-color: #1f2937;
    color: #e6edf3;
  }


  .top-bar button:hover,
  .top-bar select:hover {
    background-color: #0d5fa7;
  }

  button:hover {
    color: #000000;
    background-color: #0d5fa7;

  }

  #score {
    color: #93c5fd;
  }

  #timer {
    color: #60a5fa;
  }

  #restart {
    background-color: #0d5fa7;
  }

  #restart:hover {
    background-color: #137fd9;
  }

  #popupInstrucoes .conteudo,
  #popupHTPB .conteudo {
    background: #0f1724;
    color: #e6edf3;
  }

  #popupInstrucoes button,
  #popupHTPB button {
    background: #0d5fa7;
  }

  #popupInstrucoes button:hover,
  #popupHTPB button:hover {
    background: #137fd9;
  }

}
@media (max-width: 720px) {

  body {
    padding: 10px;
  }

  h1 {
    font-size: 1.8rem;
    text-align: center;
  }

   #popupInstrucoes .conteudo,
  #popupHTPB .conteudo {
    width: 90%;
    max-height: 85vh;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  #popupInstrucoes .conteudo video,
  #popupHTPB .conteudo video {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

   #popupInstrucoes button,
  #popupHTPB button {
    margin-top: auto;
    align-self: center;
    width: 100%;
    max-width: 250px;
  }

   #game-container {
    width: 95%;
    padding: 1.5rem;
  }

  #word {
    font-size: 2rem;
  }

  .btn-container {
    grid-template-columns: 1fr;
    gap: 0.8rem;
  }

  button,
  .top-bar button,
  .top-bar select {
    padding: 10px;
    font-size: 1rem;
  }

  .top-bar {
    flex-direction: column;
    gap: 0.7rem;
  }
}
 