<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/favicon/cerebro.png">
    <link rel="stylesheet" href="/css/configgerais.css">
    <link rel="stylesheet" href="/css/cuidador.css">
    <title>Memoriam: Início</title>
</head>

<body>
    <header>
        <nav class="itens">
            <ul>
                <li class="logo">
                    <img src="/assets/logo.png" alt="logo" draggable="false">
                    <h2>Memoriam</h2>
                    <span class="social">
                        <img class="instagram" src="/assets/instagram.svg" draggable="false" alt="Instagram">
                        <img class="facebook" src="/assets/facebook.svg" draggable="false" alt="Facebook">
                        <img class="twitter" src="/assets/twitter.svg" draggable="false" alt="Twitter">
                    </span>
                </li>
                <li><a href="#" class="ativo">Início</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/jogos">Jogos</a></li>
                <li><a href="/faq">Perguntas Frequentes</a></li>

                <li class="dropdown-login">
                    <% if (usuario) { %>
                        <a href="/logout">Sair</a>
                        <% } else { %>
                            <span class="dropdown-toggle">Login ▼</span>
                            <div class="dropdown-content-login">
                                <a href="/login">Entrar</a>
                                <a href="/registro">Registrar</a>
                            </div>
                            <% } %>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <h3>Enviar Pedido de Cuidador</h3>
        <form action="/cuidador/enviar-pedido" method="post">
            <input type="email" name="emailUsuario" placeholder="Email do usuário" required>
            <button type="submit">Enviar Pedido</button>
        </form>

    </main>

    <footer>
        <div class="footer-top">
            <ul>
                <li>Início</li>
                <li>Sobre</li>
                <li>Jogos</li>
            </ul>
            <ul>
                <li>Recursos</li>
                <li>Contato</li>
                <li>Ajuda</li>
            </ul>
            <ul>
                <li>Recursos</li>
                <li>Contato</li>
                <li>Ajuda</li>
            </ul>
        </div>
        <div class="footer-bottom">
            © 2025 Todos os direitos reservados.
        </div>
    </footer>

    <script src="../js/atraso.js"></script>

</body>

</html>