<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Termos de Uso</title>
  <link rel="stylesheet" href="/css/termos.css">
</head>

<body>
  <div class="container">
    <h1>Termos de Uso</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id congue ex. Quisque sit amet urna non ex
      viverra mollis. In auctor consequat enim, dignissim blandit eros lobortis et. Fusce eu risus urna. Curabitur erat
      odio, aliquam ac consectetur vitae, consectetur eget magna. Proin et bibendum magna, sit amet ultricies lectus.
      Mauris faucibus et diam et condimentum. Quisque pellentesque sem vel convallis sagittis. Ut rutrum ultrices tortor
      non interdum. Aenean placerat urna eget mi auctor, ut tempus nunc tempus. Donec nec nulla venenatis nunc semper
      pretium. Nunc vel mattis nisi, sit amet ullamcorper eros. Quisque pretium congue fermentum. Curabitur convallis
      massa quis nunc sagittis venenatis a in erat.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id congue ex. Quisque sit amet urna non ex
      viverra mollis. In auctor consequat enim, dignissim blandit eros lobortis et. Fusce eu risus urna. Curabitur erat
      odio, aliquam ac consectetur vitae, consectetur eget magna. Proin et bibendum magna, sit amet ultricies lectus.
      Mauris faucibus et diam et condimentum. Quisque pellentesque sem vel convallis sagittis. Ut rutrum ultrices tortor
      non interdum. Aenean placerat urna eget mi auctor, ut tempus nunc tempus. Donec nec nulla venenatis nunc semper
      pretium. Nunc vel mattis nisi, sit amet ullamcorper eros. Quisque pretium congue fermentum. Curabitur convallis
      massa quis nunc sagittis venenatis a in erat.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id congue ex. Quisque sit amet urna non ex
      viverra mollis. In auctor consequat enim, dignissim blandit eros lobortis et. Fusce eu risus urna. Curabitur erat
      odio, aliquam ac consectetur vitae, consectetur eget magna. Proin et bibendum magna, sit amet ultricies lectus.
      Mauris faucibus et diam et condimentum. Quisque pellentesque sem vel convallis sagittis. Ut rutrum ultrices tortor
      non interdum. Aenean placerat urna eget mi auctor, ut tempus nunc tempus. Donec nec nulla venenatis nunc semper
      pretium. Nunc vel mattis nisi, sit amet ullamcorper eros. Quisque pretium congue fermentum. Curabitur convallis
      massa quis nunc sagittis venenatis a in erat.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id congue ex. Quisque sit amet urna non ex
      viverra mollis. In auctor consequat enim, dignissim blandit eros lobortis et. Fusce eu risus urna. Curabitur erat
      odio, aliquam ac consectetur vitae, consectetur eget magna. Proin et bibendum magna, sit amet ultricies lectus.
      Mauris faucibus et diam et condimentum. Quisque pellentesque sem vel convallis sagittis. Ut rutrum ultrices tortor
      non interdum. Aenean placerat urna eget mi auctor, ut tempus nunc tempus. Donec nec nulla venenatis nunc semper
      pretium. Nunc vel mattis nisi, sit amet ullamcorper eros. Quisque pretium congue fermentum. Curabitur convallis
      massa quis nunc sagittis venenatis a in erat.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id congue ex. Quisque sit amet urna non ex
      viverra mollis. In auctor consequat enim, dignissim blandit eros lobortis et. Fusce eu risus urna. Curabitur erat
      odio, aliquam ac consectetur vitae, consectetur eget magna. Proin et bibendum magna, sit amet ultricies lectus.
      Mauris faucibus et diam et condimentum. Quisque pellentesque sem vel convallis sagittis. Ut rutrum ultrices tortor
      non interdum. Aenean placerat urna eget mi auctor, ut tempus nunc tempus. Donec nec nulla venenatis nunc semper
      pretium. Nunc vel mattis nisi, sit amet ullamcorper eros. Quisque pretium congue fermentum. Curabitur convallis
      massa quis nunc sagittis venenatis a in erat.</p>
    <a href="/registro">Voltar para a página de cadastro</a>
  </div>
</body>

</html>